<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
          crossorigin="anonymous">
  </head>

  <body>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="text-center">Information Protection</h1>
      </div>
    </div>

    <div class="container">
      <div id="accordion" role="tablist">
        <div class="card">
          <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Additive Cipher
              </a>
            </h5>
          </div>

          <div id="collapseOne" class="show collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              <form action="/ciphers/additive" method="post">
                <div class="form-group">
                  <div class="form-check form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="cipher_mode" value="encrypt" checked>
                      Encrypt
                    </label>
                  </div>

                  <div class="form-check form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="cipher_mode" value="decrypt">
                      Decrypt
                    </label>
                  </div>
                </div>

                <div class="form-group">
                  <label for="key">Key</label>

                  <input type="number" class="form-control" id="key" name="key" min="1" aria-describedby="Key" value="{{ data.additive_key }}">
                </div>

                <div class="form-group">
                  <label for="input">Input</label>

                  <input type="text" class="form-control" id="input" name="input" aria-describedby="Input" value="{{ data.additive_input }}">
                </div>

                <div class="form-group">
                    <label for="output">Output</label>

                    <input type="text" class="form-control" id="output" name="output" aria-describedby="Output" disabled value="{{ data.additive_output }}">
                </div>

                <button type="submit" class="btn btn-primary" name="submit">Submit</button>
              </form>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="headingTwo">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Multiplicative Cipher
              </a>
            </h5>
          </div>

          <div id="collapseTwo" class="show collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                <form action="/ciphers/multiplicative" method="post">
                  <div class="form-group">
                    <div class="form-check form-check-inline">
                      <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="cipher_mode" value="encrypt" checked>
                        Encrypt
                      </label>
                    </div>

                    <div class="form-check form-check-inline">
                      <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="cipher_mode" value="decrypt">
                        Decrypt
                      </label>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="key">Key</label>

                    <input type="number" class="form-control" id="key" name="key" min="1"aria-describedby="Key" value="{{ data.multiplicative_key }}">
                  </div>

                  <div class="form-group">
                    <label for="input">Input</label>

                    <input type="text" class="form-control" id="input" name="input" aria-describedby="Input" value="{{ data.multiplicative_input }}">
                  </div>

                  <div class="form-group">
                      <label for="output">Output</label>

                      <input type="text" class="form-control" id="output" name="output" aria-describedby="Output" disabled value="{{ data.multiplicative_output }}">
                  </div>

                  <button type="submit" class="btn btn-primary" name="submit">Submit</button>
                </form>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="headingThree">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Affine Cipher
              </a>
            </h5>
          </div>

          <div id="collapseThree" class="show collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                <form action="/ciphers/affine" method="post">
                  <div class="form-group">
                    <div class="form-check form-check-inline">
                      <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="cipher_mode" value="encrypt" checked>
                        Encrypt
                      </label>
                    </div>

                    <div class="form-check form-check-inline">
                      <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="cipher_mode" value="decrypt">
                        Decrypt
                      </label>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="key_1">Key #1</label>

                    <input type="number" class="form-control" id="key_1" name="key_1" min="1" aria-describedby="Key #1" value="{{ data.affine_key_1 }}">
                  </div>

                  <div class="form-group">
                    <label for="key_2">Key #2</label>

                    <input type="number" class="form-control" id="key_2" name="key_2" min="1" aria-describedby="Key #2" value="{{ data.affine_key_2 }}">
                  </div>

                  <div class="form-group">
                    <label for="input">Input</label>

                    <input type="text" class="form-control" id="input" name="input" aria-describedby="Input" value="{{ data.affine_input }}">
                  </div>

                  <div class="form-group">
                      <label for="output">Output</label>

                      <input type="text" class="form-control" id="output" name="output" aria-describedby="Output" disabled value="{{ data.affine_output }}">
                  </div>

                  <button type="submit" class="btn btn-primary" name="submit">Submit</button>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
      crossorigin="anonymous"></script>
  </body>
</html>
